:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: #313030;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
