@import "src/app/shared/styles/index";

.main-page {
  min-height: 100%;
  height: max-content;
  padding-top: 12px;
  padding-bottom: 12px;
  background: $main-background;
  color: $main-color;

  &__header {
    display: flex;
    justify-content: center;
    height: 42px;
    font-size: 54px;

    & > span {
      display: flex;
      align-items: center;
    }

    & > mat-icon {
      align-self: flex-start;
      margin-left: 6px;
    }
  }

  &__control-panel {
    width: 80%;
    margin: 0 auto;
  }

  &__cards-container {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);;
    grid-template-rows: auto;
    column-gap: 12px;
    row-gap: 16px;
  }
}
